/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  padding: 0 30px;
  border-bottom: 1px solid #e5e7eb;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: #0e5e0a;
  z-index: 1000;
  box-sizing: border-box;
}

/* Left Side */
.header .headerLeft {
  display: flex;
  align-items: center;
}

/* Right Side */
.header .headerRight {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #5d5d5d;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

/* Avatar Container */
.header .avatar {
  width: 50px;
  height: 50px;
  border: 1px solid #3c8116;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: 0.2s ease;
}

/* Avatar hover */
.header .avatar:hover {
  background: #f0fdf4;
  transform: scale(1.05);
}

/* If img have */
.header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
